In [18]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/soccer/database.sqlite

In [19]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [20]:
%%sql
sqlite:////kaggle/input/soccer/database.sqlite

'Connected: @/kaggle/input/soccer/database.sqlite'

## Describing and Visualizing each table data

# View the initial data

In [21]:
%%sql
select * FROM Country LIMIT 5;

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[(1, 'Belgium'),
 (1729, 'England'),
 (4769, 'France'),
 (7809, 'Germany'),
 (10257, 'Italy')]

In [22]:
%%sql
select * FROM League LIMIT 5;

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[(1, 1, 'Belgium Jupiler League'),
 (1729, 1729, 'England Premier League'),
 (4769, 4769, 'France Ligue 1'),
 (7809, 7809, 'Germany 1. Bundesliga'),
 (10257, 10257, 'Italy Serie A')]

In [23]:
%%sql 
select * from Match LIMIT 5;

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[(1, 1, 1, '2008/2009', 1, '2008-08-17 00:00:00', 492473, 9987, 9993, 1, 1, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.73, 3.4, 5, 1.75, 3.35, 4.2, 1.85, 3.2, 3.5, 1.8, 3.3, 3.75, None, None, None, 1.7, 3.3, 4.33, 1.9, 3.3, 4, 1.65, 3.4, 4.5, 1.78, 3.25, 4, 1.73, 3.4, 4.2),
 (2, 1, 1, '2008/2009', 1, '2008-08-16 00:00:00', 492474, 10000, 9994, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.95, 3.2, 3.6, 1.8, 3.3, 3.95, 1.9, 3.2, 3.5, 1.9, 3.2, 3.5, None, None, None, 1.83, 3.3, 3.6, 1.95, 3.3, 3.8, 2, 3.25, 3.25, 1.85, 3.25, 3.75, 1.91, 3.25, 3.6),
 (3, 1, 1, '2008/2009', 1, '2008-08-16 00:00:00', 492475, 9984, 8635, 0, 3, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 2.38, 3.3, 2.75, 2.4, 3.3, 2.55, 2.6, 3.1, 2.3, 2.5, 3.2, 2.5, None, None, None, 2.5, 3.25, 2.4, 2.63, 3.3, 2.5, 2.35, 3.25, 2.65, 2.5, 3.2, 2.5, 2.3, 3.2, 2.75),
 (4, 1, 1, '2008/2009', 1, '2008-08-17 00:00:00', 492476, 9991, 9998, 5, 0, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 1.44, 3.75, 7.5, 1.4, 4, 6.8, 1.4, 3.9, 6, 1.44, 3.6, 6.5, None, None, None, 1.44, 3.75, 6, 1.44, 4, 7.5, 1.45, 3.75, 6.5, 1.5, 3.75, 5.5, 1.44, 3.75, 6.5),
 (5, 1, 1, '2008/2009', 1, '2008-08-16 00:00:00', 492477, 7947, 9985, 1, 3, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 5, 3.5, 1.65, 5, 3.5, 1.6, 4, 3.3, 1.7, 4, 3.4, 1.72, None, None, None, 4.2, 3.4, 1.7, 4.5, 3.5, 1.73, 4.5, 3.4, 1.65, 4.5, 3.5, 1.65, 4.75, 3.3, 1.67)]

In [24]:
%%sql 
select * from Player LIMIT 5;

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[(1, 505942, 'Aaron Appindangoye', 218353, '1992-02-29 00:00:00', 182.88, 187),
 (2, 155782, 'Aaron Cresswell', 189615, '1989-12-15 00:00:00', 170.18, 146),
 (3, 162549, 'Aaron Doran', 186170, '1991-05-13 00:00:00', 170.18, 163),
 (4, 30572, 'Aaron Galindo', 140161, '1982-05-08 00:00:00', 182.88, 198),
 (5, 23780, 'Aaron Hughes', 17725, '1979-11-08 00:00:00', 182.88, 154)]

In [25]:
%%sql 
select * from Player_Attributes LIMIT 5;

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[(1, 218353, 505942, '2016-02-18 00:00:00', 67, 71, 'right', 'medium', 'medium', 49, 44, 71, 61, 44, 51, 45, 39, 64, 49, 60, 64, 59, 47, 65, 55, 58, 54, 76, 35, 71, 70, 45, 54, 48, 65, 69, 69, 6, 11, 10, 8, 8),
 (2, 218353, 505942, '2015-11-19 00:00:00', 67, 71, 'right', 'medium', 'medium', 49, 44, 71, 61, 44, 51, 45, 39, 64, 49, 60, 64, 59, 47, 65, 55, 58, 54, 76, 35, 71, 70, 45, 54, 48, 65, 69, 69, 6, 11, 10, 8, 8),
 (3, 218353, 505942, '2015-09-21 00:00:00', 62, 66, 'right', 'medium', 'medium', 49, 44, 71, 61, 44, 51, 45, 39, 64, 49, 60, 64, 59, 47, 65, 55, 58, 54, 76, 35, 63, 41, 45, 54, 48, 65, 66, 69, 6, 11, 10, 8, 8),
 (4, 218353, 505942, '2015-03-20 00:00:00', 61, 65, 'right', 'medium', 'medium', 48, 43, 70, 60, 43, 50, 44, 38, 63, 48, 60, 64, 59, 46, 65, 54, 58, 54, 76, 34, 62, 40, 44, 53, 47, 62, 63, 66, 5, 10, 9, 7, 7),
 (5, 218353, 505942, '2007-02-22 00:00:00', 61, 65, 'right', 'medium', 'medium', 48, 43, 70, 60, 43, 50, 44, 38, 63, 48, 60, 64, 59, 46, 65, 54, 58, 54, 76, 34, 62, 40, 44, 53, 47, 62, 63, 66, 5, 10, 9, 7, 7)]

In [26]:
%%sql 
select * from Team LIMIT 5;

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[(1, 9987, 673, 'KRC Genk', 'GEN'),
 (2, 9993, 675, 'Beerschot AC', 'BAC'),
 (3, 10000, 15005, 'SV Zulte-Waregem', 'ZUL'),
 (4, 9994, 2007, 'Sporting Lokeren', 'LOK'),
 (5, 9984, 1750, 'KSV Cercle Brugge', 'CEB')]

In [27]:
%%sql 
select * from Team_Attributes LIMIT 5;

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[(1, 434, 9930, '2010-02-22 00:00:00', 60, 'Balanced', None, 'Little', 50, 'Mixed', 'Organised', 60, 'Normal', 65, 'Normal', 55, 'Normal', 'Organised', 50, 'Medium', 55, 'Press', 45, 'Normal', 'Cover'),
 (2, 434, 9930, '2014-09-19 00:00:00', 52, 'Balanced', 48, 'Normal', 56, 'Mixed', 'Organised', 54, 'Normal', 63, 'Normal', 64, 'Normal', 'Organised', 47, 'Medium', 44, 'Press', 54, 'Normal', 'Cover'),
 (3, 434, 9930, '2015-09-10 00:00:00', 47, 'Balanced', 41, 'Normal', 54, 'Mixed', 'Organised', 54, 'Normal', 63, 'Normal', 64, 'Normal', 'Organised', 47, 'Medium', 44, 'Press', 54, 'Normal', 'Cover'),
 (4, 77, 8485, '2010-02-22 00:00:00', 70, 'Fast', None, 'Little', 70, 'Long', 'Organised', 70, 'Risky', 70, 'Lots', 70, 'Lots', 'Organised', 60, 'Medium', 70, 'Double', 70, 'Wide', 'Cover'),
 (5, 77, 8485, '2011-02-22 00:00:00', 47, 'Balanced', None, 'Little', 52, 'Mixed', 'Organised', 53, 'Normal', 48, 'Normal', 52, 'Normal', 'Organised', 47, 'Medium', 47, 'Press', 52, 'Normal', 'Cover')]

##  from the first two tables lets create a table
##  that shows the league name for each country

In [28]:
%%sql
select c.name as COUNTRY, l.name as LEAGUE
from Country c, League l
where c.id = l.id;

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[('Belgium', 'Belgium Jupiler League'),
 ('England', 'England Premier League'),
 ('France', 'France Ligue 1'),
 ('Germany', 'Germany 1. Bundesliga'),
 ('Italy', 'Italy Serie A'),
 ('Netherlands', 'Netherlands Eredivisie'),
 ('Poland', 'Poland Ekstraklasa'),
 ('Portugal', 'Portugal Liga ZON Sagres'),
 ('Scotland', 'Scotland Premier League'),
 ('Spain', 'Spain LIGA BBVA'),
 ('Switzerland', 'Switzerland Super League')]

## FIND THE NUMBER OF MATCHES PLAYED BY EACH 
## COUNTRY

In [29]:
%%sql
SELECT c.name as Country, count(*) as '#matches'
FROM Country c, Match m
where c.id = m.country_id
group by c.name
order by count(m.country_id) desc;

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[('Spain', 3040),
 ('France', 3040),
 ('England', 3040),
 ('Italy', 3017),
 ('Netherlands', 2448),
 ('Germany', 2448),
 ('Portugal', 2052),
 ('Poland', 1920),
 ('Scotland', 1824),
 ('Belgium', 1728),
 ('Switzerland', 1422)]

### now lets move on to players 
### lets find the oldest 5 and youngest 5 players and see the variation in their overall ratings

In [30]:
%%sql
select id,player_name,overall_rating,birthday
from 
(select * from (
select *
from Player p, Player_Attributes pa
where p.id = pa.id
order by birthday limit 5 ) as tab1
UNION 
select * from (
select *
from Player p, Player_Attributes pa
where p.id = pa.id
order by birthday desc limit 5) as tab2 )
order by birthday

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[(290, 'Alberto Fontana', 78, '1967-01-23 00:00:00'),
 (8296, 'Paolo Maldini', 82, '1968-06-26 00:00:00'),
 (9007, 'Rob van Dijk', 67, '1969-01-15 00:00:00'),
 (6245, 'Luca Bucci', 75, '1969-03-13 00:00:00'),
 (2495, 'Dean Windass', 68, '1969-04-01 00:00:00'),
 (8840, 'Reece Oxford', 74, '1998-12-16 00:00:00'),
 (5954, 'Kylian Mbappe Lottin', 67, '1998-12-20 00:00:00'),
 (272, 'Alban Lafont', 82, '1999-01-23 00:00:00'),
 (3827, 'Gianluigi Donnarumma', 56, '1999-02-25 00:00:00'),
 (5183, 'Jonathan Leko', 61, '1999-04-24 00:00:00')]

### lets find the total goals scored by each team

In [31]:
%%sql
select team_long_name as '#Team', sum(home_team_goal) as '#total_goals_scored'
from Match m, Team t 
where t.team_api_id = m.home_team_api_id
group by team_long_name
order by sum(home_team_goal) desc limit 10

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[('Real Madrid CF', 505),
 ('FC Barcelona', 495),
 ('Celtic', 389),
 ('FC Bayern Munich', 382),
 ('PSV', 370),
 ('Manchester City', 365),
 ('Ajax', 360),
 ('FC Basel', 344),
 ('Manchester United', 338),
 ('Chelsea', 333)]

### find the number of games played by each team, to make it fair.

In [32]:
%%sql
SELECT  t.team_long_name AS Team, c.name AS Country, 
COUNT(m.home_team_api_id) AS no_of_matches,
SUM(m.home_team_goal) AS total_goals,
cast((SUM(m.home_team_goal)) as float) /COUNT(m.home_team_api_id) as ratio
FROM Team t, Match m, Country c
WHERE t.team_api_id = m.home_team_api_id AND m.country_id = c.id 
GROUP BY t.team_api_id
ORDER BY total_goals DESC
LIMIT 10;

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[('Real Madrid CF', 'Spain', 152, 505, 3.3223684210526314),
 ('FC Barcelona', 'Spain', 152, 495, 3.2565789473684212),
 ('Celtic', 'Scotland', 152, 389, 2.5592105263157894),
 ('FC Bayern Munich', 'Germany', 136, 382, 2.8088235294117645),
 ('PSV', 'Netherlands', 136, 370, 2.7205882352941178),
 ('Manchester City', 'England', 152, 365, 2.401315789473684),
 ('Ajax', 'Netherlands', 136, 360, 2.6470588235294117),
 ('FC Basel', 'Switzerland', 143, 344, 2.4055944055944054),
 ('Manchester United', 'England', 152, 338, 2.223684210526316),
 ('Chelsea', 'England', 152, 333, 2.1907894736842106)]

**** testing to see if above results are true ****

In [33]:
%%sql
select count(*)
from Match m, Team t 
where m.home_team_api_id = t.team_api_id and t.team_long_name == 'Feirense'

 * sqlite:////kaggle/input/soccer/database.sqlite
Done.

[(15,)]