In [7]:
import pandas as pd
import numpy as np
from collections import Counter

In [4]:
survey_df  = pd.read_csv('survey_results_public.csv')

survey_df.head()

,Respondent,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,...,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
0,1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,...,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
1,2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,...,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
2,3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,...,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
3,4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,...,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
4,5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,...,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [32]:
languages = survey_df['LanguageWorkedWith'].to_frame()
languages

                                      LanguageWorkedWith
0                                 C#;HTML/CSS;JavaScript
1                                       JavaScript;Swift
2                               Objective-C;Python;Swift
3                                                    NaN
4                                      HTML/CSS;Ruby;SQL
...                                                  ...
64456                                                NaN
64457  Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...
64458                                                NaN
64459                                           HTML/CSS
64460                    C#;HTML/CSS;Java;JavaScript;SQL

[64461 rows x 1 columns]

In [35]:
c = set()
for i in list(languages['LanguageWorkedWith'].str.split(';')):
    try:
        for j in i:
            c.add(j)
    except:
        pass
        
c

{'Assembly',
 'Bash/Shell/PowerShell',
 'C',
 'C#',
 'C++',
 'Dart',
 'Go',
 'HTML/CSS',
 'Haskell',
 'Java',
 'JavaScript',
 'Julia',
 'Kotlin',
 'Objective-C',
 'PHP',
 'Perl',
 'Python',
 'R',
 'Ruby',
 'Rust',
 'SQL',
 'Scala',
 'Swift',
 'TypeScript',
 'VBA'}

In [36]:
for lang in c:
    try:
        languages[lang] = languages['LanguageWorkedWith'].str.contains(lang, na=False)
    except:
        languages[lang] = False

In [37]:
languages

,LanguageWorkedWith,C,SQL,Assembly,Swift,Rust,Julia,Bash/Shell/PowerShell,Haskell,Go,...,Java,VBA,Python,Objective-C,TypeScript,Kotlin,Scala,Ruby,PHP,C#
0,C#;HTML/CSS;JavaScript,True,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True
1,JavaScript;Swift,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,Objective-C;Python;Swift,True,False,False,True,False,False,False,False,False,...,False,False,True,True,False,False,False,False,False,False
3,NaN,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,HTML/CSS;Ruby;SQL,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64456,NaN,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64457,Assembly;Bash/Shell/PowerShell;C;C#;C++;Dart;G...,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
64458,NaN,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64459,HTML/CSS,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
64460,C#;HTML/CSS;Java;JavaScript;SQL,True,True,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,True

In [38]:
languages.mean()

C                        0.725539
SQL                      0.487318
Assembly                 0.055119
Swift                    0.052699
Rust                     0.045438
Julia                    0.008051
Bash/Shell/PowerShell    0.294442
Haskell                  0.018957
Go                       0.078156
JavaScript               0.602256
C++                      0.000000
HTML/CSS                 0.561285
Perl                     0.027862
R                        0.144165
Dart                     0.035370
Java                     0.709716
VBA                      0.054281
Python                   0.392284
Objective-C              0.036301
TypeScript               0.226152
Kotlin                   0.069313
Scala                    0.031833
Ruby                     0.062767
PHP                      0.232807
C#                       0.279875
dtype: float64

In [39]:
languages['LanguageWorkedWith'].str.contains('go',na=False)

0        False
1        False
2        False
3        False
4        False
         ...
64456    False
64457    False
64458    False
64459    False
64460    False
Name: LanguageWorkedWith, Length: 64461, dtype: bool

In [40]:
languages['LanguageWorkedWith'].str.contains('go',na=False).sum()

0

In [42]:
languages['LanguageWorkedWith'].str.contains('JavaScript',na=False).sum()

38822